.row-main {
    text-align: center;
    justify-content: center;
    margin: 0 !important;
}

.dashboard-container .row {
    margin: 0 !important;
}

.col-md-9 {
    margin:auto;
}

.right-section {
    max-width: 600px !important;
}
.icon .avatar-icon {
    background-color: #f65058ff;
    border-radius: 50px;
    font-size: 25px;
    margin: auto;
    height: 100px;
    width: 100px;

}

.MuiButton-root:hover {
    background-color: whitesmoke !important;
}

.user-name {
    margin-top:20px;
    color: whitesmoke;
}

.dashboard-container a {
    text-decoration: none !important;
}


.dashboard-container h5, .btn {
    color: whitesmoke !important;
}
.choose-file {
    float:left;
}

.submit-button {
    float: right;
}

.card {
    margin-top: 50px;
}

.modal-content form {
    margin: 25px;
}

.dashboard-container {
    background: rgba(0, 0, 0, 0.2) url("./dashboard-blue-image.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    width: 100%;
    padding-top: 100px;
    min-height:100vh;
}

.left-section {
    position: fixed;
    margin-top: 50px;
}

.blog-submit .modal-call-button {
    background-color: white;
    color: #28334aff;
    border: 1px solid #28334aff;
}

.left-section .modal-call-button {
    background-color: transparent;
}

.MuiCardContent-root {
    text-align: left;
}