.row-main {
    text-align: center;
    justify-content: center;
}
.icon img {
    width:100px;
    margin-top: 40px;
}

.user-name {
    margin-top:20px;
}

.choose-file {
    float:left;
}

.submit-button {
    float: right;
}

.card {
    margin-top: 50px;
}

.modal-content form {
    margin: 25px;
}

