.manage-users {
    padding-top: 100px;
    height: 100%;
}

.manage-users-header-background {
    height: 75px;
    background-color: darkslateblue;
    margin-top: -100px;
    margin-bottom: 20px;
}
.manage-user-wrapper {
    padding-left: 5%;
    padding-right: 5%;
}

.website-content {
    padding-top: 100px;
    min-height: calc(100vh - 50px);
    padding-bottom: 50px;
}

.website-content .react-tabs {
    display: flex;
    margin-top: 50px;
}

.website-content .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    border-bottom: 0;
    
}

.website-content .react-tabs__tab-list li {
    width: 260px;
}

.website-content .react-tabs__tab-panel {
    width: 500px;
}

.manage-website-wrapper {
    width: 960px;
    margin: auto;
}

.manage-website-wrapper h1 {
    color: black;
}

.manage-website-wrapper .react-tabs__tab--selected {
    border-color:white;
    font-weight: bold;
    color: darkblue !important;
}

.MuiBreadcrumbs-ol a {
    color: black !important;
}

.MuiBreadcrumbs-ol p {
    color: mediumblue !important;
}