.footer-content {
    height: 50px;
    background-color: #483d8b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content a img {
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}