.chatform {
    display: flex;
    position: absolute;
    bottom: 85px;
    height: 40px;
  }
  
  .chatform .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
  }
  
  .chatform input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .chatform .sendButton {
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    padding-top: 20px;
    display: inline-block;
    border: none;
    outline: none;
  }