.textContainer {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    width: 296px;
    border-top: 2px solid rgb(40, 51, 74);
  }

  .textContainer .MuiPaper-root{
    margin-top: 0 !important;
  }
  
  .activeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 50%;
  }
  
  .activeItem {
    display: flex;
    align-items: center;
  }
  
  .activeContainer img {
    padding-left: 10px;
  }
  
  .textContainer h1 {
    margin-bottom: 0px;
  }
  

  .textContainer .MuiExpansionPanelSummary-root {
    background-color: greenyellow;
    height: 28px !important;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    .textContainer {
      display: none;
    }
  }