.MuiPaper-root {
    margin-top: 20px;
}

.comment-input-box input {
    margin-right: 50px;
}

.comment-input-box {
    margin-bottom:10px;
}


.media {
    height: 330px;
    width: 500px;
    margin:auto;
}
.avatar {
    background-color: rgb(247, 137, 137) !important;
}

.modal-comment-body {
    text-align: left;
    margin-left: 20px;
}

.comment-text {
    cursor: pointer;
}

.modal-likes-content {
    max-height: 400px;
    overflow: auto;
}

.individualPost-hr {
    border-top: 1px solid darkgray;
    width: 98%;
    margin-top: 0 !important;
    margin-bottom:0 !important;
}

.like-component, .comment-component {
    width: 50%;
}

.like-section, .comment-text {
    margin: auto;
}

.comment-text {
    width: 130px
}

.comment-component {
    margin-bottom: 8px;
}
