.announcements-information {
    width: 900px;
    margin: auto;
}

.information-content .react-tabs__tab {
    border-radius: none;
    border: none;
}

.information-content .react-tabs__tab--selected {
    border-color: #28334aff;
    color: #f65058ff;
    border-radius: 0;
    background-color: rgb(37, 24, 24);
    filter: opacity(0.9);
    font-size: 30px;

}

.information-content .react-tabs__tab-list {
    border-bottom: none;
    margin: 0;
    /* text-align: left; */
    color: whitesmoke;
} 

.information-content {
    position: fixed;
    margin-top: 50px;
    width: 960px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.information-content .react-tabs__tab-panel ul li {
    color: white;
    text-align: left;
    margin-top: 10px;
    padding-right: 20px;
    font-weight: normal;

}

.information-content .react-tabs__tab-panel ul {
    list-style: none;
}

.information-content .react-tabs {
    width: 900px;
    text-align: center;
}