.announcements-information {
    width: 900px;
    margin: auto;
    padding-top: 100px;
}

/* .react-tabs__tab {
    background-color: none;
    margin-right:50px;
    margin-left:50px;
    padding: 20px;
    border-radius: none;
    width: 200px;
    color: white;
    font-size: 20px;
    border: none;
} */

.information-content .react-tabs__tab--selected {
    border-color: #28334aff;
    color: gold;
    border-radius: 0;
    background-color: #28334aff;
    font-size: 30px;

}

.information-content .react-tabs__tab-list {
    border-bottom: none;
    margin: 0;
    /* text-align: left; */
    color: whitesmoke;
} 

.information-content {
    position: fixed;
    margin-top: 50px;
    width: 365px;
    margin-right: 20px;
    background-color: #28334aff;
    border-radius: 10px;

}

.information-content .react-tabs__tab-panel ul li {
    color: white;
    text-align: left;
    margin-top: 10px;
    padding-right: 20px;
    font-weight: normal;
    text-decoration: underline;

}

.information-content .react-tabs__tab-panel ul {
    list-style: none;
}