.modal-announcements h5 {
    margin-bottom: 25px;
}

.modal-announcements {
    padding-top: 50px;
    width: 900px;
    text-align: left;
}

.more-info {
    padding-top: 70px;
    margin-bottom: 50px;
}

.modalAnnouncements-pagination .pagination a {
    color: white !important;
}

.modalAnnouncements-content {
    min-height: 300px;
}

.modalAnnouncements-pagination ul li {
    padding: 0 !important;
}