.login-box form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.login-box form .input-field,.login-box form .input-password {
    margin-right:20px
}

.login-box form .login-button-section button {
    margin: 0;
}

.login-button {
    background-color:  #FFD700 !important;
    color: #28334aff !important;
    border: 1px solid black !important;
    outline: none;
}